serviceAccountKey.json
token.json

# Python cache
__pycache__/
*.pyc

# VS Code & system files
.vscode/
.DS_Store

# Logs and debug
*.log
*.sqlite3

# Node-related
node_modules/
client/node_modules/
api/node_modules/

# Build / dist folders
dist/
client/dist/
api/dist/

# VSCode and IDE settings
.vscode/
*.json
.DS_Store

# Dependencies
package-lock.json
package.json